header{
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 108px;
  height: 108px;
  background: #fff;
  color: #ccc;
  font-family: 'Helvetica', sans-serif;
  opacity: 0.8;
  border: 1px solid;
}

/*code for full bleed bg image from paulmason.name*/

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /*background-color: #CCFFFF;*/
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  /*min-width: 1024px;*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}


#wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  color: #333;
}
/*END code for full bleed bg image from paulmason.name END*/

h1 {
  font-weight: lighter;
  font-size: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  display: inline;
  font-family: "Helvetica", sans-serif;
  font-size: 1.1em;
  color:  #999;
}

nav {
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  font-size: 1em;
}

a:link {
  text-decoration: none;
  color: #999;
}

a:hover {
  text-decoration: none;
  color: #ff9966;
}

a:visited {
  text-decoration: none;
  color: #ff9966;
}

.logo {
  float: left;
  padding: 10px;
}

.socialIcons {
  float: right;
  margin: 10px;
}

.tagline{
  opacity: 1;
  height: 150px;
  font-family: 'Pinyon Script', serif;
  text-align: left;
  font-size: 120px;
  line-height: 100px;
  color: #999;
  margin: 0px 25% 0px 20px;
  /*padding: 0px 0px 40px;*/
  /*display: inline-block;*/
}

.homePic {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.background {
  width:100%; height:200px;
  background-position: center top;
  padding-top:150px;
  padding-bottom: 100px;
}

.three_block_section  .block { 
 display: inline;
 float: left;
 font-family: 'Helvetica', sans-serif;
 width: 31.25%;
 margin-left: 1.04166667%;
 margin-right: 1.04166667%;

}

.post_date {
 color: #330066 ;
 margin-top: 5%
}

/* Sharon's CSS starts here */
.label {
/*  color: blue;
  text-align: right;
  width: 200px;
  border: 1px solid red;
  display:block;
  float: left;*/
  padding:20px;
}

.section-top {

  margin-top: 200px;
}

.section-label {
  font-family: 'Pinyon Script', serif;
  font-size: 60px;
  text-align: center;
  color: #339999;
  padding-bottom: 10px;
}

.services-label ul li {
  text-align: center;
  display: inline-block;
  border: solid 6px red;
 /* color: red;
  float: center;
  text-align: center;
  width: 200px;
  border: 1px solid red;
  display: block;
  padding: 20px 100px;
  margin: 20px; */
}
/*
.services-label img {
  float: left;
}*/

.map {
  width: 400px;
  float: left;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 200px;
}

.form{
  float: right;
  margin-right: 250px;
  margin-top: 20px;
  margin-bottom: 200px;
  width: 300px;
}

.contact-page {
  font-size: 30px;
  text-align: center;
}

.contact{
  width: 100%;
  height: 500px;
  font-size: 25px;
  margin-left: 50px;
  margin-top: 20px;
  background-color: #ccc;
}

.contact-info{

}


/* Sharon's CSS ends here */

footer {
  width: 100%;
  height: 400px;
}