header{
  position: fixed;
  width: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 108px;
  height: 108px;
  background: #fff;
  color: #ccc;
  font-family: 'Helvetica', sans-serif;
  opacity: 0.8;
}

/*
header.sticky {
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  background: #efc47D;
  text-align: left;
  padding-left: 20px;
}
*/

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  /*min-width: 1024px;*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a:link {
  text-decoration: none;
  color: #9966cc;
}

a:hover {
  color: #330066;
}

a:visited {
  color: #330066;
}

/* Sharon's CSS starts here */
.label {
/*  color: blue;
  text-align: right;
  width: 200px;
  border: 1px solid red;
  display:block;
  float: left;*/
  padding:20px;
}

.services-label {
  width: 950px;
  margin: auto;
}

.services-label ul li {
  text-align: center;
  display: inline-block;
  border: solid 6px red;
 /* color: red;
  float: center;
  text-align: center;
  width: 200px;
  border: 1px solid red;
  display: block;
  padding: 20px 100px;
  margin: 20px; */
}
/*
.services-label img {
  float: left;
}*/


/* Sharon's CSS ends here */